.container {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-auto-rows: 200px;
}
div{
    width: 100%;
    object-fit: cover;
}
img{
    border-radius: 10%;
    height: 200px;
    
}

html, body {
background-color: #ffeead;
margin: 10px;
}