body{
    margin: 0;
    background-image: url(darkbackground.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
section{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
section > h1 {
    font-size:6vw;
}
/* section:nth-child(even) {
    background-color:blue
} */
#logo{
    height: 70px;
    fill:white; 
  }
        /* Navigation Controls */
#navigation {
    height: 80px;
    width: 100%;
    background-color: #03000b98;
    color: white;
    /* text-transform: uppercase; */
    display: flex;
    align-items: center;
    z-index: 999;
    color:#ffffff;
}
nav li{
    display: inline-block;
    padding-right: 90px;
    padding-left: 90px;
    font-size: 25px;
    vertical-align: middle;
}
/* .nav-text{
    padding-block: 20px;
} */
#navigation:not(.sticky){
    position: absolute;
    bottom: 0;
}
.sticky{
    position: fixed;
    top: 0;
   }
        /* Navigation Controls */
/* *{
    outline: auto;
} */