body{
    margin: 0;
    background-image: url(reverselightbackground.png);
    background-repeat: no-repeat;
    background-color: #576D93;
}
        /* hero section */
.hero{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 30% 30% 30%;
    grid-column-gap: 0px;
    grid-row-gap:0px;
}
#logo2{
    grid-area: 1 / 2 / 3 / 4;
    fill: rgb(255, 255, 255);
    width: 890px;
    filter: drop-shadow(5px 7px 5px rgb(0 0 0 / 0.7));
}
#header{
    grid-area: 3 / 2 / 4 / 4;
    font-size: 112px;
    text-align: center;
    color: #ffffff;
    font-family: 'Rochester', cursive;
    letter-spacing: -1px;
    text-shadow: 5px 7px 5px rgb(0 0 0 / 0.2);
}
        /* hero section */
section > h1 {
    font-size:6vw;
}
        /* Navigation Controls */
#logo{
    height: 70px;
    fill:white; 
  }
#logo:hover{
    fill: #b8c2ff;
}
#navigation {
    height: 80px;
    width: 100%;
    /* background-color: #03000b98; */
    color: white;
    display: flex;
    align-items: center;
    z-index: 999;
    font-family: 'Libre Baskerville', serif;
    font-weight: bold;
}
nav li{
    display: inline-block;
    padding-right: 90px;
    padding-left: 90px;
    font-size: 25px;
    vertical-align: middle;
}
nav a{
    color: rgb(235, 243, 255);
    text-decoration: none;
}
nav a:hover{
    color: #b8c2ff;
}
#navigation:not(.sticky){
    position: absolute;
    bottom: 0;
}
.sticky{
    position: fixed;
    top: 0;
    background-color: #47547fb6;
   }
        /* Navigation Controls */
/* *{
    outline: auto;
} */
        /* Portfolio Section */
        .portfolio {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
            grid-template-rows: 1fr 2fr 1fr;
            grid-column-gap: 0px;
            grid-row-gap: 0px;
            }
            h1 {  
                color: white;
                text-align: center;
                font-family: 'Libre Baskerville', serif;
                font-size: 60px;
            }
            #title{
                grid-area: 1 / 1 / 2 / 7;
            }
            #project-1 { 
                grid-area: 2 / 1 / 4 / 3;
                scale: .8;
            }
            #project-2 { 
                grid-area: 2 / 3 / 4 / 5; 
                scale: .8;
            }
            #project-3 { 
                grid-area: 2 / 5 / 4 / 7; 
                scale: .8;
            }
            #button{
                grid-area: 4 / 3 / 5 / 5;
                text-align: center;
                font-size: 20px;
            }
        