    body{
        margin: 0;
        background-image: url(reverselightbackground2.png);
        background-repeat: no-repeat;
        background-color: #576D93;
        font-family: 'Libre Baskerville', serif;
/* page grid */
            display: grid;
            grid-template-areas: 
            "h"
            "p"
            "a"
            "c";
/* page grid */
    }
    section{
        height: 830px;
    }
/* hero section */
    .hero{
    grid-area: h;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 25% 25% 25% 25%;
        grid-column-gap: 0px;
        grid-row-gap:0px;
    }
    #logo2{
        grid-area: 1 / 2 / 3 / 4;
        fill: rgb(255, 255, 255);
        width: 890px;
        filter: drop-shadow(5px 7px 5px rgb(0 0 0 / 0.7));
    }
    #header{
        grid-area: 3 / 2 / 4 / 4;
        font-size: 112px;
        text-align: center;
        color: #ffffff;
        font-family: 'Rochester', cursive;
        letter-spacing: -1px;
        text-shadow: 5px 7px 5px rgb(0 0 0 / 0.2);
    }
/* hero section */

/* Navigation Controls */
    #logo{
        height: 70px;
        fill:#D7EAFF; 
    }
    #logo:hover{
        fill: #b8c2ff;
    }
    #navigation {
        height: 80px;
        width: 100%;
        /* background-color: #03000b98; */
        color: #D7EAFF;
        display: flex;
        align-items: center;
        z-index: 999;
        font-family: 'Libre Baskerville', serif;
        font-weight: bold;
    }
    nav li{
        display: inline-block;
        padding-right: 90px;
        padding-left: 90px;
        font-size: 20px;
        vertical-align: middle;
    }
    nav a{
        color: rgb(235, 243, 255);
        text-decoration: none;
    }
    nav a:hover{
        color: #b8c2ff;
    }
    #navigation:not(.sticky){
        position: absolute;
        bottom: 0;
    }
    .sticky{
        position: fixed;
        top: 0;
        background-color: #1b1f309b;
    }
/* Navigation Controls */
/* Portfolio Section */
            .portfolio {
                grid-area: p;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 25% 50% 25%;
            grid-column-gap: 0px;
            grid-row-gap: 0px;
            }
            h1 {  
                color: #D7EAFF;
                text-align: center;
                font-family: 'Libre Baskerville', serif;
                font-size: 5vw;
            }
            #title{
                grid-area: 1 / 2 / 1 / 2;
            }
            img{
                border-radius: 10%;
                filter: brightness(60%);
            }
            img:hover{
                filter: drop-shadow(5px 5px 5px rgb(0 0 0 / 0.7));
            }
            .projects{
                align-self: center;
                width: auto;
            }
            #project-1 { 
                grid-area: 2 / 1 / 2 / 1;
                scale: .85;
            }
            #project-2 { 
                grid-area: 2 / 2 / 2 / 2; 
                scale: .85;
            }
            #project-3 { 
                grid-area: 2 / 3 / 2 / 3; 
                scale: .85;
            }
            #button{
                grid-area: 3 / 2 / 3 / 2;
                text-align: center;
                font-size: 20px;
                padding: 5px;
                align-self: center;
                background-color: #1B1F30;
                color: rgb(255, 255, 255);
                margin: 60px;
                border-radius: 35px;
            }
            #button:hover{
                background-color: #353c5e;
                color: rgb(255, 255, 255);
                filter: drop-shadow(5px 5px 5px rgb(0 0 0 / 0.7));
            }
/* Portfolio Section */
        /* *{
            outline: auto;
        } */
        