/* Navigation Controls Start */
#logo{
    height: 70px;
    fill:#D7EAFF; 
}
#logo:hover{
    fill: #b8c2ff;
}
#navigation {
    height: 80px;
    width: 100%;
    /* background-color: #03000b98; */
    color: #D7EAFF;
    display: flex;
    align-items: center;
    z-index: 999;
    font-family: 'Libre Baskerville', serif;
    font-weight: bold;
}
nav li{
    display: inline-block;
    padding-right: 120px;
    padding-left: 120px;
    font-size: 25px;
    vertical-align: middle;
}
nav a{
    color: rgb(235, 243, 255);
    text-decoration: none;
}
nav a:hover{
    color: #b8c2ff;
}
#navigation:not(.sticky){
    position: absolute;
    bottom: 0;
}
.sticky{
    position: fixed;
    top: 0;
    background-color: #44577fa2;
}
/* Navigation Controls End */
/* mobile setting */
@media screen and (max-width: 800px) {
    #navigation {
        height: 80px;
        background-color: rgb(69, 69, 69);
        display: list-item;
    }
    #logo{
    height: 70px;
    align-self: center;
    }
    #tab-portfolio{

    }
    #tab-about-me{

    }
    #tab-contact{
    }
    nav li{
        display: inline-block;
        padding-right: 10vw;
        padding-left: 10vw;
        font-size: 16px;
        vertical-align: middle;
    }
}