/* Navigation Controls Start */
#logo{
    height: 5vw;
    fill:#D7EAFF; 
}
#logo:hover{
    fill: #b8c2ff;
}
#navigation {
    height: 80px;
    width: 100%;
    /* background-color: #03000b98; */
    color: #D7EAFF;
    display: flex;
    align-items: center;
    z-index: 999;
    font-family: 'Libre Baskerville', serif;
    font-weight: bold;
}
nav li{
    display: inline-block;
    padding-right: 8vw;
    padding-left: 8vw;
    font-size: 1.5vw;
    vertical-align: middle;
}
nav a{
    color: rgb(235, 243, 255);
    text-decoration: none;
}
nav a:hover{
    color: #b8c2ff;
}
#navigation:not(.sticky){
    position: absolute;
    bottom: 0;
}
.sticky{
    position: fixed;
    top: 0;
    background-color: #44577fa2;
}
/* Navigation Controls End */
/* mobile setting */
@media screen and (max-width: 800px) {
    #logo-item{
        width: 100%;
    }
    #logo{
        display: block;
        height: 50px;
        fill:#D7EAFF;
        margin:0 auto;
        position: relative;left: -7.4vw;
    }
    #logo:hover{
        fill: #b8c2ff;
    }

    #navigation {
        height: 80px;
        width: 100%;
        /* background-color: #03000b98; */
        color: #D7EAFF;
        display: flex;
        align-items: center;
        z-index: 999;
        font-family: 'Libre Baskerville', serif;
        font-weight: bold;
        text-align: center;
    }
    nav li{
        display: inline-block;
        padding-right: 8vw;
        padding-left: 8vw;
        font-size: 25%;
        position: relative;left: -20px;
    }
    nav a{
        color: rgb(235, 243, 255);
        text-decoration: none;
    }
    nav a:hover{
        color: #b8c2ff;
    }
    #navigation:not(.sticky){
        position: absolute;
        top: 220px;
        background-color: #1b1f30db;
    }
}