section{
    height: 1000px;
    color: #1B1F30;
}
html, body {
background-color: #a2d1d8;
}
#logo{
    scale: .8;
    fill:#D7EAFF; 
    position: relative;top: -8px;
}
  .topnav {
    width: 100%;
    overflow: hidden;
    background-color: #1B1F30;
    position: relative;
  }
  
  .topnav #myLinks {
    display: none;
  }
  
  .topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  #bars{
    fill: aqua;
    width: 40px;
    margin: 8px;
  }
  .icon{
    fill: #8e96bd;
  }
  .topnav a.icon {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  .topnav a:hover {
    fill: black;
  }
  
  .active {
    height: 60px;
    background-color: #44577F;
    color: white;
  }
  /* Navigation Controls Start */
  @media screen and (min-width: 800px) {
#logo{
    height: 70px;
    fill:#D7EAFF; 
}
#logo:hover{
    fill: #b8c2ff;
}
#navigation {
    height: 80px;
    width: 100%;
    /* background-color: #03000b98; */
    color: #D7EAFF;
    display: flex;
    align-items: center;
    z-index: 999;
    font-family: 'Libre Baskerville', serif;
    font-weight: bold;
}
nav li{
    display: inline-block;
    padding-right: 120px;
    padding-left: 120px;
    font-size: 25px;
    vertical-align: middle;
}
nav a{
    color: rgb(235, 243, 255);
    text-decoration: none;
}
nav a:hover{
    color: #b8c2ff;
}
#navigation:not(.sticky){
    position: absolute;
    bottom: 0;
}
.sticky{
    position: fixed;
    top: 0;
    background-color: #44577fa2;
}
/* Navigation Controls End */
*{
    outline: auto;
}
  }